.git-search-div {
  width: 500px;
  height: 440px;
  gap: 2.313rem;
  padding: 6.25rem 1.25rem;
}

.recent-searchs-div {
  margin-top: 1.25rem;
}

.recent-searchs {
  gap: 0.688rem;
  margin-left: 1.25rem;
  position: relative;
}

.search-profile-div {
  width: 316px;
  height: 350px;
  padding-top: 3.75rem;
}

.search-profile-div>h2 {
  margin-bottom: 2.813rem;
}

.form-search-user {
  gap: 0.75rem;
}

li {
  position: relative;
}